* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

.container {
    width: 1200px;
    height: 100vh;
    margin: auto;
}

.header {
    margin: 35px auto;
    width: 580px;
    text-align: center;
}

.header :nth-child(1) {
    color: blue;
    margin-bottom: 7px;
}

.header h1 {
    font-size: 35px;
    margin-bottom: 15px;
}

.header :last-child {
    color: gray;
    line-height: 25px;
}

.pricing-cards {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #F3F4F6;
    border-radius: 10px;
    padding: 0 30px;
}

.card .head,
.details {
    font-weight: 600;
    margin-top: 5px;
}

.price {
    font-size: 40px;
}

.price span {
    font-size: 15px;
    color: grey;
}

.info {
    color: #7F9B99;
    margin-bottom: 20px;
}

.card button {
    padding: 12px;
    border: none;
    background-color: #4848E0;
    border-radius: 5px;
    color: aliceblue;
    margin-bottom: 10px;
    font-size: 15px;
}

.card li {
    padding: 8px;
    list-style: none;
}

.card li:before {
    content: '✓';
    color: aliceblue;
    background-color: #4848E0;
    border-radius: 50%;
    padding: 0.5px 2px;
    margin-right: 15px;
}